
.a{
	color:green;
}
.c{
	color:yellow;
}
#div1{
	color:red;
}
a[href*="aftonbladet"]{
	color:green;
}
a[href*="sydsvenskan"]{
	color:yellow;
}
a[href*="gamereactor"]{
	color:black;
}
a[href*="index2"]{
	color:red;
}
h1{
	background-color:grey;
}
section p{
	background-color:red;
}
div p{
	background-color:green;
}
div~p{
	background-color:yellow;
}
div+p{
	background-color:pink;
}